#header {
    background-color: var(--main-backgtound-color);
    position: sticky;
    top: 0;
}

.header__content {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 65px;
}

.header-content__name-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    font-weight: 600;
}

.header__logo {
    width: 50px;
    padding: 5px 0 0 20px;
}

.header__nav-bar-wrapper {
    display: flex;
    flex: 1;
}

/* @media (max-width: 980px) {
    .header__nav-bar-wrapper {
        display: none;
    }
} */

.header__nav-bar {
    display: flex;
    justify-content: space-around;
    flex: 2;
}

.header__nav-bar a {
    display: inline-block;
    position: relative;
    font-size: 22px;
}

.header__nav-bar a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--links-text-color);
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
}

.header__nav-bar a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.header__social-medias {
    display: flex;
    gap: 10px;
    padding-right: 20px;
}

.icon-linkedin {
    padding-right: 6px;
}

.header__social-medias-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 30px;
    line-height: 1px;
}

/* burger */

.header__navigation-burger {
    display: none;
}

@media (max-width: 980px) {
    body.lock {
        overflow: hidden;
    }

    .header__content.active {
        top: 0;
    }

    .header-content__name-logo {
        z-index: 10;
    }

    .header__nav-bar-wrapper {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: -120%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--main-backgtound-color);
        z-index: 2;
        /* padding: 15px 24px 50px 24px; */
        transition: top 0.3s ease-in 0.1s;
        overflow: hidden;
        margin: auto;
    }

    .header__nav-bar-wrapper.active {
        top: 0;
    }

    .header__nav-bar {
        position: relative;
        font-size: 0.92rem;
        font-weight: 700;
        line-height: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: auto;
        z-index: 10;
        padding-top: 100px;
    }

    .header__social-medias {
        padding: 20px;
    }

    .header__navigation-burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        cursor: pointer;
        margin-right: 20px;
        z-index: 5;
    }

    .header__navigation-burger span {
        position: absolute;
        top: 50%;
        transform: translatey(-50%);
        width: 100%;
        height: 2px;
        background-color: var(--links-text-color);
        transform: scale(1);
        transition: all 0.5s ease-in-out;
    }

    .header__navigation-burger::before {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 2px;
        cursor: pointer;
        background-color: var(--links-text-color);
        transition: all 0.5s ease-in-out;
    }

    .header__navigation-burger::after {
        content: '';
        position: absolute;
        bottom: -2px;
        width: 100%;
        height: 2px;
        cursor: pointer;
        background-color: var(--links-text-color);
        transition: all 0.5s ease-in-out;
    }

    .header__navigation-burger.active span {
        transform: scale(0);
    }

    .header__navigation-burger.active::before {
        top: 50%;
        transform: rotate(-45deg);
    }

    .header__navigation-burger.active::after {
        bottom: 40%;
        transform: rotate(45deg);
    }
}