main {
    background: url(../img/man-muscle.jpeg) top / cover no-repeat;
}

.about-us__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: var(--color-white);
}

h1 {
    font-size: 60px;
    padding: 20px;
    color: var(--color-white);
}

.about-us__text {
    font-size: 25px;
    line-height: 40px;
    padding: 20px;
    color: var(--color-white);
}

.videos-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 30px;
    padding: 50px 20px;
}

@media (max-width: 1000px) {
    .videos-block {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 780px) {
    .videos-block {
        grid-template-columns: 1fr;
    }
}

.video {
    min-height: 300px;
    min-width: 100%;
    border-radius: 20px;
}

@media (max-width: 780px) {
    .videos-block {
        padding: 0;
    }

    .video {
        width: 100%;
    }
}

.form-section {
    padding: 100px 20px;
}

.contacts-form-block {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
}

@media (max-width: 780px) {
    .contacts-form-block {
        flex-direction: column;
    }
}

#form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
    background-color: rgba(240, 248, 255, 0.3);
    border-radius: 20px;
    width: 50%;
}

@media (max-width: 780px) {
    #form {
        width: 90%;
    }
}

input {
    min-height: 40px;
    padding: 5px 20px;
    border-radius: 20px;
    border: none;
    font-size: 19px;
}

#submit {
    width: fit-content;
    margin-top: 30px;
    background-color: var(--color-background-header);
    color: var(--color-white);
    cursor: pointer;
}

#contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(240, 248, 255, 0.3);
    border-radius: 20px;
    padding: 30px;
    width: 50%;
}

@media (max-width: 780px) {
    #contacts {
        width: 90%;
    }
}

.contacts__adress, .contacts__working-hours, .contacts__pnone-mail {
    display: flex;
    align-items: center;
    justify-content: left;
}

h3 {
    width: 40%;
    text-align: left;
}

.map {
    width: 100%;
}